.vscode/settings.json
.vscode/ipch/22c596adb0808b4f/TASKA.ipch
.vscode/ipch/22c596adb0808b4f/mmap_address.bin
.vscode/ipch/340186e42d457199/EXAMPLE01.ipch
.vscode/ipch/340186e42d457199/mmap_address.bin
.vscode/ipch/73c5a3611fd8316f/TASKC.ipch
.vscode/ipch/73c5a3611fd8316f/mmap_address.bin
.vscode/ipch/821636a8d99717df/TASKE.ipch
.vscode/ipch/821636a8d99717df/mmap_address.bin
.vscode/ipch/824b63ce6ea5d8cb/TASKD.ipch
.vscode/ipch/824b63ce6ea5d8cb/mmap_address.bin
.vscode/ipch/c9fed0504ed6e8c3/TASKB.ipch
.vscode/ipch/c9fed0504ed6e8c3/mmap_address.bin
.vscode/ipch/e8ad3b48fd5428a/EXAMPLE01.ipch
.vscode/ipch/e8ad3b48fd5428a/mmap_address.bin
task_A/taskA.exe
task_A/taskA.obj
task_B/input.txt
task_B/output.txt
task_B/taskB.exe
task_B/taskB.obj
task_C/input.txt
task_C/output.txt
task_C/taskC.exe
task_C/taskC.obj
task_D/example01.cpp
task_D/example01.exe
task_D/example01.obj
task_D/input.txt
task_D/output.txt
task_D/taskD.exe
task_D/taskD.obj
task_E/input.txt
task_E/taskE.exe
task_E/taskE.obj
